--
-- PostgreSQL database dump
--

\restrict 4wF9B4khNYG2XBqZvTztqgWysYhxDee1NMbeiJbavxqDVZa5DhPVLaw0lCdJUMB

-- Dumped from database version 17.6
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: audit_log_entries; Type: TABLE DATA; Schema: auth; Owner: -
--

SET SESSION AUTHORIZATION DEFAULT;

ALTER TABLE auth.audit_log_entries DISABLE TRIGGER ALL;

COPY auth.audit_log_entries (instance_id, id, payload, created_at, ip_address) FROM stdin;
\.


ALTER TABLE auth.audit_log_entries ENABLE TRIGGER ALL;

--
-- Data for Name: flow_state; Type: TABLE DATA; Schema: auth; Owner: -
--

ALTER TABLE auth.flow_state DISABLE TRIGGER ALL;

COPY auth.flow_state (id, user_id, auth_code, code_challenge_method, code_challenge, provider_type, provider_access_token, provider_refresh_token, created_at, updated_at, authentication_method, auth_code_issued_at, invite_token, referrer, oauth_client_state_id, linking_target_id, email_optional) FROM stdin;
\.


ALTER TABLE auth.flow_state ENABLE TRIGGER ALL;

--
-- Data for Name: users; Type: TABLE DATA; Schema: auth; Owner: -
--

ALTER TABLE auth.users DISABLE TRIGGER ALL;



ALTER TABLE auth.users ENABLE TRIGGER ALL;

--
-- Data for Name: identities; Type: TABLE DATA; Schema: auth; Owner: -
--

ALTER TABLE auth.identities DISABLE TRIGGER ALL;

COPY auth.identities (provider_id, user_id, identity_data, provider, last_sign_in_at, created_at, updated_at, id) FROM stdin;
c7594b7a-2025-44c3-8030-5c645e070fb2	c7594b7a-2025-44c3-8030-5c645e070fb2	{"sub": "c7594b7a-2025-44c3-8030-5c645e070fb2", "email": "menganyidamarice@gmail.com", "full_name": "DAMARICE MENGANYI", "email_verified": true, "phone_verified": false}	email	2025-12-02 09:08:38.508779+00	2025-12-02 09:08:38.508829+00	2025-12-02 09:08:38.508829+00	46540f28-c1f2-412d-a714-700e4c57680d
\.


ALTER TABLE auth.identities ENABLE TRIGGER ALL;

--
-- Data for Name: instances; Type: TABLE DATA; Schema: auth; Owner: -
--

ALTER TABLE auth.instances DISABLE TRIGGER ALL;

COPY auth.instances (id, uuid, raw_base_config, created_at, updated_at) FROM stdin;
\.


ALTER TABLE auth.instances ENABLE TRIGGER ALL;

--
-- Data for Name: oauth_clients; Type: TABLE DATA; Schema: auth; Owner: -
--

ALTER TABLE auth.oauth_clients DISABLE TRIGGER ALL;

COPY auth.oauth_clients (id, client_secret_hash, registration_type, redirect_uris, grant_types, client_name, client_uri, logo_uri, created_at, updated_at, deleted_at, client_type, token_endpoint_auth_method) FROM stdin;
\.


ALTER TABLE auth.oauth_clients ENABLE TRIGGER ALL;

--
-- Data for Name: sessions; Type: TABLE DATA; Schema: auth; Owner: -
--

ALTER TABLE auth.sessions DISABLE TRIGGER ALL;

COPY auth.sessions (id, user_id, created_at, updated_at, factor_id, aal, not_after, refreshed_at, user_agent, ip, tag, oauth_client_id, refresh_token_hmac_key, refresh_token_counter, scopes) FROM stdin;
\.


ALTER TABLE auth.sessions ENABLE TRIGGER ALL;

--
-- Data for Name: mfa_amr_claims; Type: TABLE DATA; Schema: auth; Owner: -
--

ALTER TABLE auth.mfa_amr_claims DISABLE TRIGGER ALL;

COPY auth.mfa_amr_claims (session_id, created_at, updated_at, authentication_method, id) FROM stdin;
\.


ALTER TABLE auth.mfa_amr_claims ENABLE TRIGGER ALL;

--
-- Data for Name: mfa_factors; Type: TABLE DATA; Schema: auth; Owner: -
--

ALTER TABLE auth.mfa_factors DISABLE TRIGGER ALL;

COPY auth.mfa_factors (id, user_id, friendly_name, factor_type, status, created_at, updated_at, secret, phone, last_challenged_at, web_authn_credential, web_authn_aaguid, last_webauthn_challenge_data) FROM stdin;
\.


ALTER TABLE auth.mfa_factors ENABLE TRIGGER ALL;

--
-- Data for Name: mfa_challenges; Type: TABLE DATA; Schema: auth; Owner: -
--

ALTER TABLE auth.mfa_challenges DISABLE TRIGGER ALL;

COPY auth.mfa_challenges (id, factor_id, created_at, verified_at, ip_address, otp_code, web_authn_session_data) FROM stdin;
\.


ALTER TABLE auth.mfa_challenges ENABLE TRIGGER ALL;

--
-- Data for Name: oauth_authorizations; Type: TABLE DATA; Schema: auth; Owner: -
--

ALTER TABLE auth.oauth_authorizations DISABLE TRIGGER ALL;

COPY auth.oauth_authorizations (id, authorization_id, client_id, user_id, redirect_uri, scope, state, resource, code_challenge, code_challenge_method, response_type, status, authorization_code, created_at, expires_at, approved_at, nonce) FROM stdin;
\.


ALTER TABLE auth.oauth_authorizations ENABLE TRIGGER ALL;

--
-- Data for Name: oauth_client_states; Type: TABLE DATA; Schema: auth; Owner: -
--

ALTER TABLE auth.oauth_client_states DISABLE TRIGGER ALL;

COPY auth.oauth_client_states (id, provider_type, code_verifier, created_at) FROM stdin;
\.


ALTER TABLE auth.oauth_client_states ENABLE TRIGGER ALL;

--
-- Data for Name: oauth_consents; Type: TABLE DATA; Schema: auth; Owner: -
--

ALTER TABLE auth.oauth_consents DISABLE TRIGGER ALL;

COPY auth.oauth_consents (id, user_id, client_id, scopes, granted_at, revoked_at) FROM stdin;
\.


ALTER TABLE auth.oauth_consents ENABLE TRIGGER ALL;

--
-- Data for Name: one_time_tokens; Type: TABLE DATA; Schema: auth; Owner: -
--

ALTER TABLE auth.one_time_tokens DISABLE TRIGGER ALL;

COPY auth.one_time_tokens (id, user_id, token_type, token_hash, relates_to, created_at, updated_at) FROM stdin;
\.


ALTER TABLE auth.one_time_tokens ENABLE TRIGGER ALL;

--
-- Data for Name: sso_providers; Type: TABLE DATA; Schema: auth; Owner: -
--

ALTER TABLE auth.sso_providers DISABLE TRIGGER ALL;

COPY auth.sso_providers (id, resource_id, created_at, updated_at, disabled) FROM stdin;
\.


ALTER TABLE auth.sso_providers ENABLE TRIGGER ALL;

--
-- Data for Name: saml_providers; Type: TABLE DATA; Schema: auth; Owner: -
--

ALTER TABLE auth.saml_providers DISABLE TRIGGER ALL;

COPY auth.saml_providers (id, sso_provider_id, entity_id, metadata_xml, metadata_url, attribute_mapping, created_at, updated_at, name_id_format) FROM stdin;
\.


ALTER TABLE auth.saml_providers ENABLE TRIGGER ALL;

--
-- Data for Name: saml_relay_states; Type: TABLE DATA; Schema: auth; Owner: -
--

ALTER TABLE auth.saml_relay_states DISABLE TRIGGER ALL;

COPY auth.saml_relay_states (id, sso_provider_id, request_id, for_email, redirect_to, created_at, updated_at, flow_state_id) FROM stdin;
\.


ALTER TABLE auth.saml_relay_states ENABLE TRIGGER ALL;

--
-- Data for Name: schema_migrations; Type: TABLE DATA; Schema: auth; Owner: -
--

ALTER TABLE auth.schema_migrations DISABLE TRIGGER ALL;



ALTER TABLE auth.schema_migrations ENABLE TRIGGER ALL;

--
-- Data for Name: sso_domains; Type: TABLE DATA; Schema: auth; Owner: -
--

ALTER TABLE auth.sso_domains DISABLE TRIGGER ALL;

COPY auth.sso_domains (id, sso_provider_id, domain, created_at, updated_at) FROM stdin;
\.


ALTER TABLE auth.sso_domains ENABLE TRIGGER ALL;

--
-- Data for Name: audience_levels; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.audience_levels DISABLE TRIGGER ALL;

COPY public.audience_levels (id, slug, name, description, display_order, is_active, created_at, updated_at) FROM stdin;
5f91311f-7b03-40dd-9ce6-7e6aa6fdaf9f	digital-leaders	Digital Leaders	Executives, managers, and strategic decision-makers driving digital transformation	1	t	2025-12-15 08:35:37.723758+00	2025-12-15 08:35:37.723758+00
bf7b4cb3-d110-4138-b5a5-095c758cc266	digital-workers	Digital Workers	Professionals and practitioners implementing digital solutions	2	t	2025-12-15 08:35:37.723758+00	2025-12-15 08:35:37.723758+00
\.


ALTER TABLE public.audience_levels ENABLE TRIGGER ALL;

--
-- Data for Name: course_categories; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.course_categories DISABLE TRIGGER ALL;



ALTER TABLE public.course_categories ENABLE TRIGGER ALL;

--
-- Data for Name: courses; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.courses DISABLE TRIGGER ALL;



ALTER TABLE public.courses ENABLE TRIGGER ALL;

--
-- Data for Name: course_resources; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.course_resources DISABLE TRIGGER ALL;

COPY public.course_resources (id, course_slug, title, type, description, resource_url, file_size_bytes, order_index, created_at) FROM stdin;
8fe045f2-e7c9-4a61-b18e-1870ba39114b	perfecting-life-transactions	Perfect Life Transactions Whitepaper	whitepaper	A comprehensive guide to understanding and implementing Perfect Life Transactions in your organization.	https://ugmybskacomcdgdngolz.supabase.co/storage/v1/object/public/course-content/plt-course-01/resources/25.01_DQ%20DTMB_WP_Perfect_Life_Transactions_The_Cornerstone_of_Economy_4.0.pdf	\N	1	2025-12-10 12:53:57.187941+00
\.


ALTER TABLE public.course_resources ENABLE TRIGGER ALL;

--
-- Data for Name: difficulty_levels; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.difficulty_levels DISABLE TRIGGER ALL;



ALTER TABLE public.difficulty_levels ENABLE TRIGGER ALL;

--
-- Data for Name: dtma_subscriptions; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.dtma_subscriptions DISABLE TRIGGER ALL;

COPY public.dtma_subscriptions (id, email, source, tags, subscribed, unsubscribed_at, meta, created_at, updated_at) FROM stdin;
\.


ALTER TABLE public.dtma_subscriptions ENABLE TRIGGER ALL;

--
-- Data for Name: industries; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.industries DISABLE TRIGGER ALL;



ALTER TABLE public.industries ENABLE TRIGGER ALL;

--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.users DISABLE TRIGGER ALL;



ALTER TABLE public.users ENABLE TRIGGER ALL;

--
-- Data for Name: learner_course_completion; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.learner_course_completion DISABLE TRIGGER ALL;

COPY public.learner_course_completion (id, user_id, course_id, completed_at, created_at) FROM stdin;
b70cbcf5-25a6-4637-8177-f478631ba108	05ef81a5-9d42-453d-ab88-d3fa81aa1992	perfecting-life-transactions	2026-01-12 11:56:01.291+00	2026-01-12 11:56:01.410835+00
\.


ALTER TABLE public.learner_course_completion ENABLE TRIGGER ALL;

--
-- Data for Name: learner_lesson_progress; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.learner_lesson_progress DISABLE TRIGGER ALL;

COPY public.learner_lesson_progress (id, user_id, course_id, lesson_id, status, progress_percent, last_position_seconds, last_accessed_at, completed_at, updated_at) FROM stdin;
\.


ALTER TABLE public.learner_lesson_progress ENABLE TRIGGER ALL;

--
-- Data for Name: learner_profiles; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.learner_profiles DISABLE TRIGGER ALL;

COPY public.learner_profiles (id, email, full_name, current_stage, completed_stages, total_score, badges, created_at, updated_at) FROM stdin;
c7594b7a-2025-44c3-8030-5c645e070fb2	menganyidamarice@gmail.com	DAMARICE MENGANYI	3	{2}	0	{}	2025-12-02 09:14:45.052116+00	2025-12-02 09:58:20.999791+00
\.


ALTER TABLE public.learner_profiles ENABLE TRIGGER ALL;

--
-- Data for Name: lessons; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.lessons DISABLE TRIGGER ALL;



ALTER TABLE public.lessons ENABLE TRIGGER ALL;

--
-- Data for Name: user_enrollments; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.user_enrollments DISABLE TRIGGER ALL;



ALTER TABLE public.user_enrollments ENABLE TRIGGER ALL;

--
-- Data for Name: lesson_progress; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.lesson_progress DISABLE TRIGGER ALL;



ALTER TABLE public.lesson_progress ENABLE TRIGGER ALL;

--
-- Data for Name: media_items; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.media_items DISABLE TRIGGER ALL;

COPY public.media_items (id, title, slug, summary, body, body_html, body_json, type, category, status, visibility, language, published_at, updated_at, created_at, seo_title, seo_description, canonical_url, tags, thumbnail_url, video_url, podcast_url, document_url, duration_sec, file_size_bytes, event_date, event_time, event_location, event_location_details, event_registration_info, event_agenda) FROM stdin;
\.


ALTER TABLE public.media_items ENABLE TRIGGER ALL;

--
-- Data for Name: media_assets; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.media_assets DISABLE TRIGGER ALL;

COPY public.media_assets (id, media_id, kind, public_url, storage_path, mime, size_bytes, duration_sec, checksum, created_at) FROM stdin;
\.


ALTER TABLE public.media_assets ENABLE TRIGGER ALL;

--
-- Data for Name: modules; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.modules DISABLE TRIGGER ALL;



ALTER TABLE public.modules ENABLE TRIGGER ALL;

--
-- Data for Name: newsletter_subscriptions; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.newsletter_subscriptions DISABLE TRIGGER ALL;



ALTER TABLE public.newsletter_subscriptions ENABLE TRIGGER ALL;

--
-- Data for Name: quizzes; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.quizzes DISABLE TRIGGER ALL;



ALTER TABLE public.quizzes ENABLE TRIGGER ALL;

--
-- Data for Name: related_courses; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.related_courses DISABLE TRIGGER ALL;



ALTER TABLE public.related_courses ENABLE TRIGGER ALL;

--
-- Data for Name: subscriptions; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.subscriptions DISABLE TRIGGER ALL;

COPY public.subscriptions (id, user_id, plan_id, status, provider, created_at, updated_at) FROM stdin;
\.


ALTER TABLE public.subscriptions ENABLE TRIGGER ALL;

--
-- Data for Name: user_business_profiles; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.user_business_profiles DISABLE TRIGGER ALL;

COPY public.user_business_profiles (id, user_id, profile_name, profile_data, is_primary, created_at, updated_at) FROM stdin;
\.


ALTER TABLE public.user_business_profiles ENABLE TRIGGER ALL;

--
-- Data for Name: user_sessions; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.user_sessions DISABLE TRIGGER ALL;

COPY public.user_sessions (id, user_id, session_token, login_time, logout_time, ip_address, user_agent, is_active) FROM stdin;
\.


ALTER TABLE public.user_sessions ENABLE TRIGGER ALL;

--
-- Data for Name: schema_migrations; Type: TABLE DATA; Schema: realtime; Owner: -
--

ALTER TABLE realtime.schema_migrations DISABLE TRIGGER ALL;



ALTER TABLE realtime.schema_migrations ENABLE TRIGGER ALL;

--
-- Data for Name: subscription; Type: TABLE DATA; Schema: realtime; Owner: -
--

ALTER TABLE realtime.subscription DISABLE TRIGGER ALL;

COPY realtime.subscription (id, subscription_id, entity, filters, claims, created_at, action_filter) FROM stdin;
\.


ALTER TABLE realtime.subscription ENABLE TRIGGER ALL;

--
-- Data for Name: buckets; Type: TABLE DATA; Schema: storage; Owner: -
--

ALTER TABLE storage.buckets DISABLE TRIGGER ALL;

COPY storage.buckets (id, name, owner, created_at, updated_at, public, avif_autodetection, file_size_limit, allowed_mime_types, owner_id, type) FROM stdin;
course-content	course-content	\N	2025-12-10 11:31:34.159004+00	2025-12-10 11:31:34.159004+00	t	f	\N	\N	\N	STANDARD
\.


ALTER TABLE storage.buckets ENABLE TRIGGER ALL;

--
-- Data for Name: buckets_analytics; Type: TABLE DATA; Schema: storage; Owner: -
--

ALTER TABLE storage.buckets_analytics DISABLE TRIGGER ALL;

COPY storage.buckets_analytics (name, type, format, created_at, updated_at, id, deleted_at) FROM stdin;
\.


ALTER TABLE storage.buckets_analytics ENABLE TRIGGER ALL;

--
-- Data for Name: buckets_vectors; Type: TABLE DATA; Schema: storage; Owner: -
--

ALTER TABLE storage.buckets_vectors DISABLE TRIGGER ALL;

COPY storage.buckets_vectors (id, type, created_at, updated_at) FROM stdin;
\.


ALTER TABLE storage.buckets_vectors ENABLE TRIGGER ALL;

--
-- Data for Name: migrations; Type: TABLE DATA; Schema: storage; Owner: -
--

ALTER TABLE storage.migrations DISABLE TRIGGER ALL;



ALTER TABLE storage.migrations ENABLE TRIGGER ALL;

--
-- Data for Name: objects; Type: TABLE DATA; Schema: storage; Owner: -
--

ALTER TABLE storage.objects DISABLE TRIGGER ALL;



ALTER TABLE storage.objects ENABLE TRIGGER ALL;

--
-- Data for Name: s3_multipart_uploads; Type: TABLE DATA; Schema: storage; Owner: -
--

ALTER TABLE storage.s3_multipart_uploads DISABLE TRIGGER ALL;

COPY storage.s3_multipart_uploads (id, in_progress_size, upload_signature, bucket_id, key, version, owner_id, created_at, user_metadata) FROM stdin;
\.


ALTER TABLE storage.s3_multipart_uploads ENABLE TRIGGER ALL;

--
-- Data for Name: s3_multipart_uploads_parts; Type: TABLE DATA; Schema: storage; Owner: -
--

ALTER TABLE storage.s3_multipart_uploads_parts DISABLE TRIGGER ALL;

COPY storage.s3_multipart_uploads_parts (id, upload_id, size, part_number, bucket_id, key, etag, owner_id, version, created_at) FROM stdin;
\.


ALTER TABLE storage.s3_multipart_uploads_parts ENABLE TRIGGER ALL;

--
-- Data for Name: vector_indexes; Type: TABLE DATA; Schema: storage; Owner: -
--

ALTER TABLE storage.vector_indexes DISABLE TRIGGER ALL;

COPY storage.vector_indexes (id, name, bucket_id, data_type, dimension, distance_metric, metadata_configuration, created_at, updated_at) FROM stdin;
\.


ALTER TABLE storage.vector_indexes ENABLE TRIGGER ALL;

--
-- Data for Name: schema_migrations; Type: TABLE DATA; Schema: supabase_migrations; Owner: -
--

ALTER TABLE supabase_migrations.schema_migrations DISABLE TRIGGER ALL;



ALTER TABLE supabase_migrations.schema_migrations ENABLE TRIGGER ALL;

--
-- Data for Name: secrets; Type: TABLE DATA; Schema: vault; Owner: -
--

ALTER TABLE vault.secrets DISABLE TRIGGER ALL;

COPY vault.secrets (id, name, description, secret, key_id, nonce, created_at, updated_at) FROM stdin;
\.


ALTER TABLE vault.secrets ENABLE TRIGGER ALL;

--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE SET; Schema: auth; Owner: -
--

SELECT pg_catalog.setval('auth.refresh_tokens_id_seq', 7, true);


--
-- Name: subscription_id_seq; Type: SEQUENCE SET; Schema: realtime; Owner: -
--

SELECT pg_catalog.setval('realtime.subscription_id_seq', 1, false);


--
-- PostgreSQL database dump complete
--

\unrestrict 4wF9B4khNYG2XBqZvTztqgWysYhxDee1NMbeiJbavxqDVZa5DhPVLaw0lCdJUMB

